<h1 class="display-4 pb-2 my-2 border-bottom">
  My Batch Job
</h1>

<p>
  <strong>Project:</strong>
  <%= @job.project %>
</p>
<p>
  <strong>jobTime:</strong>
  <%= @job.jobTime %>
</p>
<p>
  <strong>bclDirectory:</strong>
  <%= @job.bclDirectory %>
</p>
<p>
  <strong>sampleCsvFile:</strong>
  <%= @job.sampleCsvFile %>
</p>

<p>
  <strong>sampleChem: </strong>
  <%= @job.sampleChem %>
</p>
<p>
  <strong>refGenome: </strong>
  <%= @job.refGenome %>
</p>
<p>
  <strong>scratchDir: </strong>
  <%= @job.scratchDir %>
</p>
<p>
  <strong>outputDataDir: </strong>
  <%= @job.outputDataDir %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @job.notes %>
</p>

